.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
chat_history.txt

build/
dist/
*.spec

*.egg-info/
.eggs/

.pytest_cache/
.coverage
htmlcov/

.DS_Store
*.swp
*.swo
*~

notification.oga
server_config.json

RyServer/
build-MessageFy.sh
